<footer class="footer">
    <div class="container">
        <%
=begin%>
        <span class="text-muted">Place sticky footer content here.</span>
        <%
=end%>
        <script type="text/javascript" src="https://cdn.colorado.edu/static/brand-assets/live/js/footer.js" id="ucb-footer-embed" data-color="white"></script>
    </div>

</footer>
<script>
    htmlval = $('.alert').text()
    htmlval = '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' + htmlval.replace(' x ', ' ')
    htmlval = $.parseHTML(htmlval);
    $('.alert').empty();
    $('.alert').append(htmlval);
    console.log("test happens!")
</script>