<footer class="footer">
    <div class="container">
        <%
=begin%>
        <span class="text-muted">Place sticky footer content here.</span>
        <%
=end%>
        <script type="text/javascript" src="https://cdn.colorado.edu/static/brand-assets/live/js/footer.js" id="ucb-footer-embed" data-color="white"></script>
    </div>

</footer>
<script>
    htmlval = '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' + $('.alert').text().slice(0, $('.alert').text().lastIndexOf('</a>') + 4);
    htmlval = $.parseHTML(htmlval);
    $('.alert').empty();
    $('.alert').append(htmlval);
    //truncated-abstract
    htmlval = $('.truncate-abstract').text();
    htmlval = $.parseHTML(htmlval);
    $('.truncate-abstract').empty();
    $('.truncate-abstract').append(htmlval);
    // remove login and bookmarks links
    $('.navbar-nav li:nth-last-child(1)').hide()
    $('.navbar-nav li:nth-last-child(2)').hide()
    $('.navbar-nav li:nth-last-child(3)').hide()
</script>