<h3>About</h3>

<p>The Colorado GeoLibrary is a venture of the University of Colorado Boulder Libraries. Its mission is to improve discoverability and access to geospatial data resources pertaining to Colorado.</p>

<p>The Colorado GeoLibrary provides geospatial data access to the University of Colorado and beyond. The purpose of the GeoLibrary is to collect and provide access to data from across the State of Colorado in service of our students and researchers, as well as the general public. Here you will find open GIS data from state, county, and municipal levels and makes them available in one place, as well as datasets provided by the University of Colorado Boulder Libraries.</p>

<p>The Colorado GeoLibrary furthers the University of Colorado Boulder Libraries’ mission of creating, disseminating, and advancing scholarship. We seek to inspire learning, research, and discovery by connecting knowledge, information, and people. The GeoLibrary strengthens the Libraries’ collections and further supports research, creative work, and student learning. </p>

<b>Contact us:<b> <a href="mailto:geolibrary@colorado.edu">geolibrary@colorado.edu</a>
        <br><br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf5XgMcBQFHiQ-3kH1pEnvfZo0HlekOsZ-RqJoa6b_-ZnfZ1A/viewform?usp=sf_link" target="_blank">Suggest a data set to be added to the collection!</a>
        <br><br>
        <a href="https://www.colorado.edu/libraries/support-libraries" target="_blank">Support the Libraries</a>